/* BEGINNING OF FONT INCLUSION */
@font-face {
    font-family: 'LoveLetter'; /*a name to be used later*/
    src: local('LoveLetter'),  /*URL to font*/
        url('../fonts/LoveLetterWeb.ttf#font') format('truetype');
}
/* END OF FONT INCLUSION */

/* Universal identifier */
*{
    -webkit-font-smoothing: antialiased;
    margin:0; 
    padding:0; 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:URL('../cur/stylus3.png') 6 125, auto;}
/* Universal identifier */

body{
    position:relative;
    margin:0; 
    padding:0; 
    background-color:black;}

.sbars{
    background: -webkit-linear-gradient(left top, white ,#B2B2B2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, white, #B2B2B2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, white, #B2B2B2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, white , #B2B2B2); /* Standard syntax (must be last) */
}

/* CUSTOM SCROLLBAR */

/* Let's get this party started */
::-webkit-scrollbar {width: 12px;}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,255,255,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); }
::-webkit-scrollbar-thumb:window-inactive {  background: rgba(225,225,225,0.4); }

/* END OF CUSTOM SCROLLBAR */

/*INDEX CSS */
a{
text-decoration:none;
font-family:LoveLetter;
padding:15px;
border: double 3px white;
font-size:1em;}
a:hover{
color:blue !important;
border: double 3px blue;
background-color:white;}

.wrapper{
    -webkit-perspective: 150px; /* Chrome, Safari, Opera  */
    perspective: 150px;    
}
  .gbars{
  position:absolute;
  top:1px;
  background-color:black;
  width:3px;
  height:130px;
  }
  .greds{
  position:absolute;
  left:45px;
  background-color:#800000;
  width:15px;
  height:6px;
  }  
  .gp{
  color:black;font-family:arial;margin:2px;text-align:left;font-size:11px;
  }
  .handi{
    -webkit-transform: rotateY(2deg); /* Chrome, Safari, Opera  */
    transform: rotateY(2deg);
    z-index:2;
    box-shadow: -10px -1px 0px #CC0000, 5px -1px 20px 2px #CC0000 inset;
    }
    .butt{
    background-color:#2A2A2A;
    color:black;
    border:outset 2px #2A2A2A;
    font-family:monospace;
    box-shadow: -3px 1px 0px #2A2A2A;
    }
    #leftb{width:50px;height:75px;order:1; border-radius:10px;font-size:3em;margin-right:5px;}
    #upb{width:100%;height:30px;border-bottom-right-radius:15px;border-bottom-left-radius:15px;font-size:1.5em;flex-grow:1;margin-bottom:5px;}
    #downb{width:100%;height:30px; border-top-right-radius:15px;border-top-left-radius:15px;font-size:1.5em;flex-grow:1;}
    #rightb{width:50px;height:75px;order:3;border-radius:10px;font-size:3em;margin-left:5px;}
    
  .right{
    -webkit-transform: rotateY(-2deg); /* Chrome, Safari, Opera  */
    transform: rotateY(-2deg);
    z-index:2;
  }


