/* BEGINNING OF FONT INCLUSION */
@font-face {
  font-family: "LoveLetter";
  src: local("LoveLetter"),
    url("/fonts/LoveLetterWeb.ttf") format("truetype");
}
@font-face {
  font-family: "liquidcrystal";
  src: local("liquidcrystal"),
    url("/fonts/LiquidCrystal-Normal.ttf") format("truetype");
}
@font-face {
  font-family: "chintzy";
  src: local("chintzy"),
    url("/fonts/chintzy.ttf") format("truetype");
}
/* END OF FONT INCLUSION */

/* Universal reset (applied site-wide) */
* {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

/* Custom scrollbar (applied site-wide) */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(0, 255, 0, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 255, 0, 0.4);
}

body {
  background-color: black;
  min-height: 100vh;
}

a {
  text-decoration: none;
}
